@import "../../variable.scss";

.container {
  //   height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .input_container {
    width: 318.42px;
    margin: 146px 0;
    display: flex;
    flex-direction: column;
    background: $inputBackground;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 11px;
    align-items: center;
    justify-content: center;
    padding: 16px;
    .nft-heading-padding {
      padding: 48px 24px 24px 24px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 32px;
    }
    .helperText {
      color: $btnTextColor;
      margin-bottom: 8px;
    }
    .mobile-number-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 24px;
      .country-code {
        height: 40px;
        margin-right: 16px;
      }
      .mobileInput {
        width: 200px;
        border-radius: 4px;
        // margin-bottom: 32px;
        height: 40px;
        border: 1px solid $borderColor;
        padding-left: 8px;
      }
    }
    .otp-input-container {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 24px;
      .otp-input {
        width: 50px;
        margin-right: 10px;
        text-align: center;
        &:last-child {
          margin-right: 0;
        }
      }
    }
    .first-otp-btn {
      margin-bottom: 72px;
    }
    .second-otp-btn {
      margin-bottom: 24px;
    }
    .mobileBtn {
      padding: 16px 54px;
      border-radius: 28px;
      background-color: $secondaryBtnColor;
      color: $borderColor;
    }
    .resend-btn {
      background: #dbc926 !important;
    }
    .terms-and-condition {
      font-family: "Average";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      letter-spacing: 0.06em;
      color: #ffffff;
    }
  }
}
